{# templates/registration/register.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body) }}

    <button type="submit">Create Post!</button>
{{ form_end(form) }}
