{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="flex flex-col items-center">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="bg-grey-lightest rounded p-8">
        <h1 class="py-4 text-blue-darkest">Please sign in</h1>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-4 p-2 mr-2 border-b border-blue-darker" placeholder="Email"
            required autofocus>
        <input type="password" name="password" id="inputPassword" class="mb-4 p-2 border-b mr-2 border-blue-darker" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me
        functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button id="submit" class="mr-4 no-underline border-2 rounded p-2 text-blue-darkest" type="submit">
            Sign in
        </button>
    </div>
</form>
{% endblock %}
