{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}
<div class="flex flex-col items-center overflow-y-scroll">
    <div class="max-w-md">
        <div id="post-list"></div>
    </div>
</div>
{% endblock %}
