{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<nav>
    {% if app.user %}
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {% endif %}
</nav>

<div>
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        {% endfor %}
</div>
{% endblock %}
