{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1 class="text-blue-darker">New Comment</h1>
    {{ include('comment/_form.html.twig') }}

{% endblock %}
