<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body class="body-background border-blue-darker border-t-8">
    <div id="nav" class="py-8 text-blue-darker">
        {% if app.user %}
        <div class="flex px-8 justify-between">
            <div class="flex">
                <a class="no-underline text-blue-darker" href="/">Home</a>
            </div>

            <div class="flex">
                Welcome, {{ app.user.username }}
                <a class="no-underline text-blue-darker ml-4" href="/post/new">Create Post</a>
                <a class="no-underline text-blue-darker ml-4" href="/logout">Logout</a>
            </div>
        </div>


        {% else %}
        <div class="flex px-8 justify-between">
            <div class="">
                <a class="no-underline text-blue-darker" href="/">Home</a>
            </div>
            <div>
                <a class="no-underline text-blue-darker ml-4" href="/login">Login</a>
                <a class="no-underline text-blue-darker ml-4" href="/register">Register</a>
            </div>
        </div>
        {% endif %}
    </div id="nav">
    <div id="body" class="container mx-auto">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
</body>

</html>
