<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body class="body-background border-blue-darker border-t-8">
    <div id="nav" class="py-8 text-blue-darker">
        {% if app.user %}
        <div id="auth-navbar" data-username="{{ app.user.username }}"></div>


        {% else %}
        <div id="no-auth-navbar"></div>
        {% endif %}
    </div>
    <div id="body" class="container mx-auto">
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </div>
</body>

</html>
