{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1 class="text-blue-darker">Edit Post</h1>
    <div class="mr-4 py-8">{{ include('post/_form.html.twig') }}</div>
{% endblock %}
